body{
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1483119107169-31558642c29c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1632&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    background-color: rgb(85, 241, 85);
    color: rgb(0, 0, 0);
    opacity: 0.6;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    display: flex;  
    justify-content: center;
    align-items: center;
    margin: 10px;    
    
}

.square{
    
    width: 100px;
    height: 100px;
    background-color: rgb(218, 241, 85);
    border: 2px solid grey;
    display: inline-block;
    
}

.o{
    position: relative;
}

.o:after{
    position: absolute;
    content: "🛡️";
    font-size: 50px;
    line-height: 100px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

.x{
    position: relative;
}

.x:after{
    position: absolute;
    content: "⚔️";
    font-size: 50px;
    line-height: 100px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}